:root{
    --font-size: 1.2em;
    --paragraph-font-size:0.8em;
    --border-width:0.1rem;
    --border-style:dotted;
    --border-color:white;
    --font-family:Arial;
    --nav-background-color: #3d9cf5;
    --pane-background-color: #000000;
    --font-color-1:#ffffff;
    
    --media-screen-max-width:800px;
}

body{


    color: rgb(189, 189, 189);
    overflow: hidden;
    scrollbar-width: thin;
    
}

p {
    padding:10px;
}



/* MAIN CONTAINER */
.main-container{
    
    display:grid;
    grid-template-columns: 1fr 3fr;
    height:100vh;
    

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    
}

@media screen and (max-width:1000px) {

    .main-container{
    
        display: flex;
        flex-direction: column;
        background-color: var(--pane-background-color);

    }
}


/* LEFT PANE */
.left-pane {
    
    /* min-width: 21.5vw; */
    padding: 2rem;
    background-color: var(--nav-background-color);

}



/* LEFT PANE CONTENTS */

/* NAV BOX */

.center {

    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    

}
.nav-box{


    padding:10px;
    

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}

/*  NAV ITEMS */
.nav-box > a {
    
    display: inline-block;

    font-size: var(--font-size);
    color: var(--font-color-1);
    
    margin-top:10px;

    text-decoration: underline 0.05em var(--nav-background-color);
    transition: text-decoration-color 300ms, text-underline-offset 10ms;


    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}

/* NAV ITEMS INTERACTIONS */
.nav-box > a:hover {
   
    cursor: pointer;
    display: inline-block;
    
    /* ---> animation for underline */
    text-decoration-color: var(--font-color-1);
    text-underline-offset: 0.25em;  
    
}

.nav-box > a:active {
    color: var(--pane-background-color);
}


.hide-nav-box {
    display: none;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    
    
}





/* NAV PANE FOR MOBILE */
.nav-pane-mobile {

    background-color: #3d9cf5;
    justify-content: left;
  
    
}




/* To turn off display of left pane*/
@media screen and (max-width:1000px) {

    .left-pane {
        display: none;
    }

   
}

/* To turn ff display of mobile-nav-pane in big screen*/
@media screen and (min-width:1000px) {

    .nav-pane-mobile {
        display: none;
    }

}

/* .title-mobile {
    color: #000000;
    padding: 10px;
    float:left;
    margin-bottom: 10px;
} */


/* RIGHT PANE */
.right-pane{
    background-color: #000000;
    font-size:var(--font-size);
    
   
}



/* --------- ABOUT PAGE ---------> */


/* STRUCTURE OF RIGHT PANE IN ABOUT*/
.aboutpage {
    
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    /* grid-template-columns: 1fr 3fr; ADDED GRID TEMPLATE */
      
}

@media screen and (min-width:1000px) {
    .aboutpage{
        padding-top:25vh;
    }
}

@media screen and (max-width:1000px) {
    .aboutpage{ 
        padding-top:5vh;
    }
     
 }



/* SCROLL BAR RESUME PAGE */

.aboutpage::-webkit-scrollbar {
    height: 0.5vh;
    width: 0.25vw;               /* width of the entire scrollbar */ 
  }
.aboutpage::-webkit-scrollbar-track {
    background: var(white);        /* color of the tracking area */
  }
.aboutpage::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1vw solid grey; 
}




.flex-row {
    display: flex;
    flex-direction: row;

    /* justify-content: center; */


    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);


}


@media screen and (max-width:1000px) {

    .flex-row {
        flex-direction: column;
        
        /* background-color: yellow; */
    }
    

}


/* RIGHT PANE INFO BOX */

.image-box {
    color: white;
    padding-left:10px;

    width: calc(45px + 12.5vw);
    height: calc(35px + 12.5vw);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}

.image-box  > img {
   
    /* padding-left: 10px; */

    width: calc(35px + 10.5vw);
    height: calc(35px + 10.5vw);

    border-radius: 90%;
    border-width: 0.1vw;
    border-style: solid;

    animation-name: imageborderanimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}



.info-box {
    
  
    position: inherit;
    max-width: 1000px;
    background-color: #000000;
    color: var(--font-color-1);
    
    padding:20px 0px 10px 10px;


    border-width: var(--border-width);
    border-style: var(--border-style); 
    border-color: var(--border-color);

  
}


@keyframes imageborderanimation {
    from {border-color: var(--font-color-1);}
    to {border-color: var(--pane-background-color);}
    /* to {border-color: var(--font-color-1);} */
  }




.info-box {
    color: var(--font-color-1);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}


.info-box > .fname {

    display:inline;
    font-weight: normal;
    padding-left: 10px;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
 
}
.info-box > .lname {
    display:inline;
    font-weight: bold;
    color:var(--nav-background-color);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
  
}

.info-box > .role {
    
    margin:10px 0px 1px 0px;
    padding-left: 10px;
 


    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}

.info-box > p{
    font-size: var(--paragraph-font-size);
    color: rgb(189, 189, 189);
    margin-top:10px;
  

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}



.certifications{
    padding-top:10px;
    padding-bottom: 10px;
    background-color: white;
    justify-content: space-around;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}




.badge > img{

    width: calc(100px + 2.5vw);
    height: calc(100px + 2.5vw);
    
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}


.python > img{

    padding:0px 25px 0px 25px;
    width: calc(100px + 2.5vw);
    height: calc(100px + 2.5vw);
    
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}




.clients {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-around;
    /* margin-left: -75px; */

    border-width: 0.05em;
    border-color: rgb(166, 166, 166);
    border-style: solid;

}

.logo > img{
    padding-top: 10px;
    width: calc(125px + 2.5vw);
    height:auto;

}
.tfnsw {
    padding-left: 10px;
}

.profile-links {
    background-color: rgb(238, 238, 238);
    justify-content: center;
}

.profile-links > a > img {
    width:24px;
    height: 24px;
}


@media screen and (max-width:1000px) {
    .certifications, .clients, .profile-links{

        display: flex;
        flex-direction: row;
    }

    .clients h5 {
        padding-left: 12.5px;
    }
    
}







/* --------- RESUME PAGE ---------> */



.resumepage {
    background-color: var(--font-color-1);

    overflow: auto;
    scrollbar-width: thin;

}



/* SCROLL BAR RESUME PAGE */

.resumepage::-webkit-scrollbar {
    height: 0.5vh;
    width: 0.25vw;               /* width of the entire scrollbar */ 
  }
.resumepage::-webkit-scrollbar-track {
    background: var(white);        /* color of the tracking area */
  }
.resumepage::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1vw solid grey; 
  }

.resumepages {

    padding-top:10px;
    padding-left:12vw;

}


.skillbox{
    display: block;
    padding: 10px 0px 10px 0px;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}




/* --------- PORTFOLIO PAGE ---------> */

.portfoliopage{
    background-color: var(--pane-background-color);
    color: var(--font-color-1);
    display: grid;
    grid-template-columns: 1fr 1fr;

    row-gap: 0px;
    overflow: auto;

    /* border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color); */
}

.x {
    margin-left: 2.5px;

    /* min-height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

    background-color: #3d9cf5;

}

.x > img {
    width: 33.5vw;
    border-width: 25px;
    border-style: solid;
    border-color: white;

}

.x > iframe {
    width: 37vw;
    height:25.5vw;
    /* border-width: 25px; */
    border-style: solid;
    border-color: white;
    /* padding:30px; */
   
    

}

.words {
    padding:10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* ----> For Function Read More <---- */
.text{
    display: inline;
    width: 100%;
  }
    
.read-or-hide{
    color: var(--pane-background-color);
    cursor: pointer;
  }

button {
    margin-top:15px;
    height: 50px;
    width: 125px;
    font-size: large;
    border-radius: 2.5px;
 
}

/* ----> For Function Read More <---- */


/* SCROLL BAR PORTFOLIO PAGE*/

.portfoliopage::-webkit-scrollbar {
    height: 0.5vh;
    width: 0.25vw;               /* width of the entire scrollbar */ 
  }
.portfoliopage::-webkit-scrollbar-track {
    background: var(white);        /* color of the tracking area */
  }
.portfoliopage::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1vw solid grey; 
  }