:root{
    --font-size: 1.5vw;
    --paragraph-font-size:1.2vw;
    --border-width:0rem;
    --border-style:dotted;
    --border-color:white;
    --font-family:Arial;

    --nav-background-color: rgb(61, 156, 245);
    --pane-background-color: black;
    --font-color-1:white;
    
}

.row {

    color: white;
    font-size:var(--font-size);
    /* font-family: 'Courier New', Courier, monospace; */

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
  
}

.cell {
    
    padding: 2rem;
    /* background-color: rgb(36, 37, 38); */
    background-color: var(--nav-background-color);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);


}

.grid{
    
    display:grid;
    grid-template-columns: 1fr 3fr;
    /* grid-gap:0.1rem; */
    /* margin:1rem; */
    height:100vh;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}

.grid > .cell:nth-child(2){

    background-color: #000000;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}


.nav{

    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}



.nav > a {
    display: inline-block;
    margin-top:10px;
 
    color: var(--font-color-1);
    

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

    text-decoration: underline 0.05em var(--nav-background-color);
    /* text-underline-offset: 0.3em; */
    transition: text-decoration-color 300ms, text-underline-offset 10ms;

}

.nav > a:hover {
   
        cursor: default;
        /* color: #b8b8b8; */
        display: inline-block;
        
        /* ---> animation for underline */
        text-decoration-color: var(--font-color-1);
        text-underline-offset: 0.25em;  
        
        
        
}





.info-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    


}

.info-grid > .cell {

    height: 15vw;
    background-color: #000000;

    /*position*/

    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}


@keyframes imageborderanimation {
    from {border-color: var(--font-color-1);}
    to {border-color: var(--pane-background-color);}
    /* to {border-color: var(--font-color-1);} */
  }

img {
     /*position*/

    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


    border-radius: 50%;
    width: 15vw;
    min-width: 15px;
    border-width: 0.1vw;
    border-style: solid;

    animation-name: imageborderanimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}



.fname {
    color:azure;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
 
}
.lname {
    color:var(--nav-background-color);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
  
}

.role {
  
    margin:10px 0px 1px 0px;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

}

.intro > p{
    font-size: var(--paragraph-font-size);
    color: rgb(189, 189, 189);
    margin-top:10px;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}